<template name="gameSubmit">
	
	 <form class="main form">
			 <label class="control-label" for="sps">Steen papier schaar</label>
			 <p>Title</p><input name="title" type="text" value="" class="form-control"/>
			 <div class="controls">
				 <p>steen</p><input name="sps" type="radio" value="steen" class="form-control"/>
				 <p>papier</p><input name="sps" type="radio" value="papier" class="form-control"/>
				 <p>schaar</p><input name="sps" type="radio" value="schaar" class="form-control"/>				 
			 </div>
		 <input type="submit" value="Submit" class="btn btn-primary"/>
	 </form>
</template>