<template name="gameSubmit">
	
	 <form class="main form">
			 <label class="control-label" for="sps">Steen papier schaar</label>
			 <p>Title</p><input name="title" type="text" value="" class="form-control"/>
			 <div class="controls">
				 <label for="steen">steen<img src="/images/steen.png"></label><input name="sps" id="steen" type="radio" value="steen" class="form-control"/>
				 <label for="papier">papier<img src="/images/papier.png"></label><input name="sps" id="papier" type="radio" value="papier" class="form-control"/>
				 <label for="schaar">schaar<img src="/images/schaar.png"></label><input name="sps" id="schaar" type="radio" value="schaar" class="form-control"/>				 
			 </div>
		 <input type="submit" value="Submit" class="btn btn-primary"/>
	 </form>
</template>